* {
  font-family: "Roboto", serif;
}

header {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}

.reservation {
display: flex;
align-items: center;
flex-direction: column;
}

p {
  margin: 0;
}

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* ... */ 

  body {
    margin: 0;
  }

  /* .big {
    position: relative;
  } */

  header {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
  }

  /* main {
    position: absolute;;
  } */

  .test {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    gap: 10px;
  }

  .logo {
    display: contents;
  }

  .logo img {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }

  .restaurants img {
    max-width: 100%;
    object-fit: contain;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .restaurants h2 {
    padding-left: 20px;
    padding-top: 50px;
  }

  .reservation {
    text-align: center;
    background-color: #f6f6f6;
    padding: 0 30px;
  }

  .button {
    width: 218px;
    height: 50px;
    border: transparent;
    border-radius: 30px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    color: white;
    margin-bottom: 50px;
  }

  .fonctionnement h2 {
    margin: 20px;
  }

  .choice {
    background-color: #f6f6f6;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .fa-solid {
    color: #7e7e7e;
  }

  .fa-store {
    color: #9356DC;
  }

  .restaurants {
    background-color: #f6f6f6;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .number {
    color: white;
    border: transparent;
    border-radius: 200px;
    background-color: #9356DC;
    padding: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    font-size: 14px;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    /* padding: 5px; */
    /* filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); */
  }

  /* .card img {
    object-fit: cover;
  } */

  .card-txt {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 18px;
    font-style: bold;
    display: flex;
    align-items: center;
  }

  .card-subtitle {
    font-size: 17px;
  }

  .fa-heart {
    /* background: linear-gradient(0deg, #9356DC, #FF79DA); */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .logo-end img {
    filter: invert();
    max-width: 30%;
  }

  .end {
    display: flex;
    flex-direction: column;
  }

  .couverts {
    display: flex;
    align-items: center;
  }

  .partner {
    display: flex;
    align-items: center;
  }

  .fa-handshake-angle {
    margin-right: 10px;
  }

  .fa-utensils {
    margin-right: 10px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .menu h1 {
    font-family: "shrikhand", serif;
  }

  .entrees {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .plats {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .desserts {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .choice2 {
    background-color: white;
    border: transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
  }

  .choice3 {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .choice4 {
    padding: 5px 15px 0 15px;
  }

  .card-resto img {
    object-fit: cover;
    width: 100%;
    height: 275px;
  }

  .bouton {
    display: flex;
    justify-content: center;
  }

  .button1 {
    width: 218px;
    height: 50px;
    border: transparent;
    border-radius: 30px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}