* {
  font-family: "Roboto", serif;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* ... */ 

  body {
    margin: 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .localisation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    gap: 10px;
  }

  .reservation {
    text-align: center;
    background-color: #f6f6f6;
    padding: 0 30px;
  }

  .button {
    width: 218px;
    height: 50px;
    border: transparent;
    border-radius: 30px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    color: white;
    margin-bottom: 50px;
  }

  .fonctionnement h2 {
    margin: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .choice {
    background-color: #f6f6f6;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .number {
    color: white;
    border: transparent;
    border-radius: 200px;
    background-color: #9356DC;
    padding: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    font-size: 14px;
  }

  .restaurants {
    background-color: #f6f6f6;
  }

  .restaurants h2 {
    padding-left: 20px;
    padding-top: 50px;
  }

  .restaurants img {
    max-width: 100%;
    object-fit: contain;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
  }

  .card-txt {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 18px;
    font-style: bold;
    display: flex;
    align-items: center;
  }

  .card-subtitle {
    font-size: 17px;
  }

  .fa-heart {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .nolink {
    color: inherit;
    text-decoration: none;
  }

  .logo-end img {
    filter: invert();
    max-width: 30%;
  }

  .end {
    display: flex;
    flex-direction: column;
  }

  .couverts {
    display: flex;
    align-items: center;
  }

  .partner {
    display: flex;
    align-items: center;
  }

  .contact {
    color: inherit;
    text-decoration: none;
  }

}