* {
  font-family: "Roboto", serif;
}

header {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reservation {
display: flex;
align-items: center;
flex-direction: column;
}

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* ... */ 

  body {
    margin: 0;
  }

  header {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
  }

  .test {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    gap: 10px;
  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }

  img {
    max-width: 197px;
    object-fit: contain;
  }

  .reservation {
    text-align: center;
    background-color: #f6f6f6;
    padding: 0 30px;
  }

  .button {
    width: 218px;
    height: 50px;
    border: transparent;
    border-radius: 30px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    color: white;
    margin-bottom: 50px;
  }

  .fonctionnement h2 {
    margin: 20px;
  }

  .choice {
    background-color: #f6f6f6;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .fa-solid {
    color: #7e7e7e;
  }

  .fa-store {
    color: #9356DC;
  }

  .restaurants {
    margin: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .number {
    color: white;
    border: transparent;
    border-radius: 200px;
    background-color: #9356DC;
    padding: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    font-size: 14px;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    /* filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); */
  }

  .card img {
    object-fit: cover;
  }

  .card-title {
    font-size: 18px;
    font-style: bold;
    display: flex;
    align-items: center;
  }

  .card-subtitle {
    font-size: 17px;
  }
}