@mixin footer-style {
  background-color: $background-dark;
  color: white;
  padding: 20px;
}

@mixin logo-image {
  &.invert {
    filter: invert();
  }
  max-width: 150px;
}


// Footer Desktop

@mixin desktop-footer {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  flex-direction: row-reverse;
  
  .logo-end {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
  .end {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    gap: 15px;
    
    p, .contact {
      margin: 0;
      padding: 0;
    }
  }
  
  .couverts, .partner {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}